
img {
    width: 15vh;
    position: absolute;
    top: 8%;
    left: 5%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: teal;
    transition: 0.3s;
}

.contact {
    min-width: 50%;
    position: absolute;
    left: 5%;
    top: 1%;
    color: white;
}

.phone {
    display: inline;
}

.mail {
    padding-left: 2%;
    display: inline;
}

.phone:hover {
    color: teal;
    transition: 0.3s;
}

.mail:hover {
    color: teal;
    transition: 0.3s;
}

.social {
    position: absolute;
    top: 1%;
    right: 10%;
    color: white;
    display: inline;
}

.social_icon {
    width: 1em;
    padding-left: 1em;
}

.social_icon:hover {
    color: teal;
}

.header {
    background-color: #282c34;
    min-height: 40vh;
    min-width: 100%;
}
